
{% for article in articles %}
<article class="article-item">

    {% if article.image != 'null' and article.image.url|length >= 1  %}
        <div class="image">
        <img src= "{{article.image.url}}" />
        </div>
    {% endif %}
    
    <div class="data">
        
        <h4> {{article.title}} </h4>
        <p>
            {% for category in article.categories.all %}
             <a href="{% url 'category' category.id %}" >{{category.name}}</a>
            {% endfor %}
        </p>

        <span class= "data">
            {{article.user.first_name}} {{article.user.last_name}}
            {{article.created_at}}</span>
        <p>
             {{article.content|safe}}
            <br>
            
        </p>
</div>
</article>

{% endfor %}